.window {
  position: fixed;
  background-color: rgba(31, 31, 31, 0.9);
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #6b7280;
}

.header {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b5563;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  cursor: move;
  user-select: none;
}

.closeButton {
  all: unset;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: color 0.2s ease;

  &:hover {
    color: #f87171;
  }
}

.body {
  flex-grow: 1;
  overflow: auto;
}

.resizeHandle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  cursor: nwse-resize;
}

