.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 120px;
  gap: 20px;
  padding: 20px;
}

.cell {
  width: 100px;
  height: 120px;
  position: relative;
}

.over {
  outline: 2px dashed #4af;
}
